# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle atom-2048'
      'command': 'atom-2048:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-2048'
      'submenu': [
        { 'label': 'Toggle', 'command': 'atom-2048:toggle' }
      ]
    ]
  }
]
